.foto{
    width: 100px;
    height: 0 auto;
    float: left;
}

.profile{
    background-color:gray;
    color:black;
    display: grid;
    grid-template-rows: 2fr 5fr;
    height: 100vh;
    padding: 20px;
}
.information{
    padding: 20px;
    border:5px solid cyan;
    background-color:gray;
    border-radius:20px;
}
