.dialogs{
display: grid;
grid-template-columns: 1fr 5fr;
height: 100vh;

}


.dialogsItem{
    background-color: gray;


}


.dialog{
    padding: 5px;
    color: rgb(12, 1, 10);
    text-decoration: none;
    border: 5px black solid;
    border-radius: 10px;
    background-color: cyan;

}

.messages{
    background-color: gray;

}

.message{
    padding: 5px;
    color:blue;
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
}